In [1]:
rows = 3
for i in range(rows):
    print(" " * (rows - i - 1), end="")
    for j in range(i + 1):
        print(chr(65 + j), end=" ")
    print()

  A
 A B
A B C

In [3]:
rows = 3
for i in range(rows):
    print(" " * (rows - i - 1), end="")
    
    for j in range(2 * i + 1):
        print(chr(65 + j), end="")
    print()

  A
 ABC
ABCDE

In [5]:
 rows = 3
for i in range(rows):
    
    print(" " * i, end="")
    
    print("*" * (2 * (rows - i) - 1))

*****
 ***
  *

In [6]:
rows = 3
starting_number = 10

for i in range(rows):
    
    print(" " * (rows - i - 1), end="")
   
    for j in range(i + 1):
        print(starting_number + i, end=" ")
    print()

  10
 11 11
12 12 12

In [8]:
rows = 5
for i in range(rows):
    print(" " * i, end="")
    print("*" * (rows - i), end="")
    print()

*****
 ****
  ***
   **
    *

In [9]:
 name = input("Enter the name")

print("",name)

Enter the name harsh

 harsh

In [10]:
num1 = int(input("Number 1 = "))
num2 = int(input("Number 2 = "))

num3 = num1 + num2
print("Total",num3)

if num3>0:
    print("positive number")

elif num3<0:
    print("Negative number")

else :
  print("0")

Number 1 =  2
Number 2 =  5

Total 7
positive number

In [11]:
correct_number = 42

while True:
   
    user_input = int(input("Enter the number: "))

    if user_input == correct_number:
        print("Correct!")
        break
    else:
        print("Try again.")

Enter the number:  42

Correct!

In [12]:
 firstname = input("Enter your first name: ")
lastname = input("Enter your last name: ")

wholename = firstname + " " + lastname

print("Full name:", wholename)

Enter your first name:  harsh
Enter your last name:  jain

Full name: harsh jain

In [13]:
 input_string = input("Enter a string: ")

toggled_string = input_string.swapcase()

print("Toggled case string:", toggled_string)

Enter a string:  harsh

Toggled case string: HARSH

In [14]:
numbers = [1, 2, 3, 4]


total_sum = 0
total_multiplication = 1


for number in numbers:
    total_sum += number
    total_multiplication *= number


print("Sum:",total_sum)           
print("Multiplication:",total_multiplication)

Sum: 10
Multiplication: 24

In [15]:
x = 'hello' 
a = ['hi', 'hello', 'hey']  

ismember = False


for item in a:
    if item == x:
        is_member = True
        break


print(ismember)

False

In [16]:
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]


common_member = False


for item1 in list1:
    for item2 in list2:
        if item1 == item2:
            common_member = True
            break
    if common_member:
        break


print(common_member)

True

In [17]:
hundred_meters = ['Harsh', 'Krishnakanth', 'Manish', 'Dashrat', 'Harshita', 'Mamta']
two_hundred_meters = ['Rahul', 'Nikhil', 'Rohit', 'Himanshu', 'Naveen']


hundred_set = set(hundred_meters)
two_hundred_set = set(two_hundred_meters)


only_hundred = hundred_set - two_hundred_set
print("100m race:", only_hundred)


only_two_hundred = two_hundred_set - hundred_set
print("200m race:", only_two_hundred)


both_races = hundred_set & two_hundred_set
print("both races:", both_races)


one_race = (hundred_set | two_hundred_set) - both_races
print("one race:", one_race)

100m race: {'Mamta', 'Harsh', 'Krishnakanth', 'Harshita', 'Manish', 'Dashrat'}
200m race: {'Naveen', 'Rohit', 'Nikhil', 'Himanshu', 'Rahul'}
both races: set()
one race: {'Mamta', 'Harsh', 'Krishnakanth', 'Naveen', 'Harshita', 'Rohit', 'Manish', 'Dashrat', 'Nikhil', 'Himanshu', 'Rahul'}

In [18]:
numbers = [5, 8, 4, 18, 8, 55, 6, 8, 3, 18, 5, 3, 44]

seen = set()
duplicates = []

for num in numbers:
    if num in seen:
        duplicates.append(num)
    else:
        seen.add(num)


duplicates = list(set(duplicates))

print("Duplicate numbers:", duplicates)

Duplicate numbers: [8, 18, 3, 5]